.list {
  width: 100%;
  margin-top: 50px;
}

.list-item {
  display: flex;
  width: 100%;
}
.list-item img {
  max-width: 40px;
}
.list-item_img,
.list-item_login {
  width: 50%;
  border: 0.5px solid grey;
  text-align: center;
}
